<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="lang" value="en-US"/>
		<add key="mplayer" value="D:\MPlayer\mplayer.exe"/>
		<!---<add key="mplayer_params" value="-really-quiet -msglevel all=-1"/>-->
		<add key="mplayer_params" value="-msglevel all=4 -ao alsa -vo sdl -vfm ffmpeg"/>
	</appSettings>

</configuration>
